{% extends "base.html" %}

{% block content %}

<section class="page_500 ">
	<div class="container">
		<div class="row">	
		<div class="col-ms-12">
		<div class="col-sm-12 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h2 class="text-center ">500</h2>


		</div>

		<div class="contant_box_500">
		<h3 class="h3">
		We're having some issues on our end
		</h3>


        <a href="location.href" class="btn btn-register btn-secondary">Refresh</a>

	</div>
		</div>
		</div>
		</div>
	</div>
</section>

{% endblock %}