<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QUtickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style/style.css">
  </head>
  <body>
    <div class="container-fluid">
    <header>
        
            <!-- Bootstrap Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent custom-navbar">
          <div class="container">
             <!-- Logo on the right -->
             <a class="navbar-logo" href="index.html">
                 <img src="static/img/QUtickets logo V1.png" alt="Logo" height="80">
              </a>
          
        
              <div class="d-flex">
                 <a class="btn btn-login btn-primary mr-2" href="Createeventpage.html">Create Event</a>
                 <img class="img-fluid" src="static/img/phunk.png" style="width:60px; height:60px; border-radius: 4em;">
             </div>
          </div>
      </nav>
    </header>
    <main>
        <div class="col event-container-profile">
          <div class="row" style="max-width: fit-content;">

            <div class="col-md-12 custom-col-2">
              <h2>booking history</h2>
                <div class="card">
                    <img src="static/img/unnamed.jpg" class="img img-responsive" alt="Event 1">
                    <a href="event page.html">
                        <div class="profile-name">The Cat Empire</div>
                        <div class="profile-username">@ThePalaisTheatre</div>
                        <div class="profile-date">12th-13th December</div>
                      </a>
                </div>
                <h4>BOOKING ID: 12345</h4>
                <H5>event booked @ 15:46 on 13/9/23</H5>
                <div class="card">
                  <img src="static/img/delta.jpg" class="img img-responsive" alt="Event 4">
      
                  <a href="event page.html">
                      <div class="profile-name">DELTA GOODREM</div>
                      <div class="profile-username">@hamerhall</div>
                      <div class="profile-date">29th September</div>
                    </a>
              </div>
              <h4>BOOKING ID: 12345</h4>
              <H5>event booked @ 15:46 on 13/9/23</H5>
              <div class="card">
                <img src="static/img/defleppard.jpg" class="img img-responsive" alt="Event 6">
    
                <a href="event page.html">
                    <div class="profile-name">DEF LEPPARD x MOTLEY CRUE</div>
                    <div class="profile-username">@marvelstadium</div>
                    <div class="profile-date">14th November</div>
                  </a>
            </div>
            <h4>BOOKING ID: 12345</h4>
            <H5>event booked @ 15:46 on 13/9/23</H5>
            <div class="card">
              <img src="static/img/boot.webp" class="img img-responsive" alt="Event 13">

              <a href="event page.html">
                  <div class="profile-name">BOOT SEQUENCE NIGHTCLUB</div>
                  <div class="profile-username">@thesirus</div>
                  <div class="profile-date">29th September</div>
                </a>
          </div>
          <h4>BOOKING ID: 12345</h4>
          <H5>event booked @ 15:46 on 13/9/23</H5>




          </div>
        </div>





    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div> 
    
    <footer class="footer">(C) Adrian Gadaleta, 2023. all rights reserved.</footer>
  </body>
</html>
