<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QUtickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <!-- Bootstrap Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent custom-navbar">
          <div class="container">
            <a class="navbar-logo" href="/">
              <img src="static/img/QUtickets logo V1.png" alt="Logo" height="80">
            </a>
            <div class="d-flex">
              {% if current_user.is_authenticated %}
                <a class="btn btn-register btn-secondary" href="{{ url_for('event.profile') }}">Welcome {{ current_user.name }}</a>
                <a class="btn btn-register btn-secondary" href="{{ url_for('auth.logout') }}">Log Out</a>
              {% else %}
                <a class="btn btn-register btn-secondary" href="{{ url_for('auth.register') }}">Register</a>
                <a class="btn btn-register btn-secondary" href="{{ url_for('auth.login') }}">Log In</a>
              {% endif %}
              <a class="btn btn-register btn-secondary" href="{{ url_for('event.create') }}">Create Event</a>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="col event-container-profile">
          <div class="row" style="max-width: fit-content;">
            <div class="col-md-12 custom-col-2">
              <h2>Booking History</h2>
              {% if booked_events %}
                <!-- Iterate through booked events using Jinja2 loop -->
                {% for booking in booked_events %}
                  <div class="card">
                    <img src="{{ booking.event.eventImage }}" class="img img-responsive" alt="{{ booking.event.name }}">
                    <a href="{{ url_for('event.show', id=booking.event.id) }}">
                      <div class="profile-name">{{ booking.event.name }}</div>
                      <div class="profile-username">{{ booking.event.venueName }}</div>
                      <div class="profile-date">{{ booking.event.eventTime.strftime('%dth %B %Y') }}</div>
                    </a>
                  </div>
                  <h4>BOOKING ID: {{ booking.id }}</h4>
                  <h5>Event booked @ {{ booking.purchase_date.strftime('%H:%M on %d/%m/%y') }}</h5>
                {% endfor %}
                <!-- End of loop -->
              {% else %}
                <!-- Display a message when there are no bookings -->
                <p>No bookings yet. <a href="{{ url_for('event.index') }}">Browse events</a> to make a booking.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </div>
    <footer class="footer">(C) Adrian Gadaleta, 2023. all rights reserved.</footer>
  </body>
</html>
