{% extends 'base.html' %}


{% block content %}

      <main>
        <div class="col event-container-profile">
          <div class="row" style="max-width: fit-content;">
            <div class="col-md-12 custom-col-2">
              <h2>Booking History</h2> 
              <div class col-md-3> 
              {% if booked_events != 0 %}
                <!-- Iterate through booked events using Jinja2 loop -->
                
                {% for booking in booked_events %}
                  <div class="card">
                    <img src="/{{ booking.event.eventImage }}" class="img img-responsive" alt="{{ booking.event.name }}">
                    <a href="{{ url_for('event.show', id=booking.event.id) }}">
                      <div class="profile-name">{{ booking.event.name }}</div>
                      <div class="profile-username">{{ booking.event.venueName }}</div>
                      <div class="profile-date">{{ booking.event.eventTime.strftime('%dth %B %Y') }}</div>
                      <div class="status">{{ booking.event.status }}</div>
                      
                    </a>
                  </div>
                  <h4>BOOKING ID: {{ booking.id }}</h4>
                  <h3>No. of tickets booked: {{ booking.num_tickets }}</h3>
                  <h5>Event booked @ {{ booking.purchase_date.strftime('%H:%M on %d/%m/%y') }}</h5>
                {% endfor %}
                <!-- End of loop -->
              {% else %}
                <!-- Display a message when there are no bookings -->
                <p>No bookings yet. <a href="{{ url_for('event.index') }}">Browse events</a> to make a booking.</p>
              {% endif %}
            </div>
            </div>
          </div>
        </div>
      </main>
{% endblock %}
